* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');
.balls {
    animation: numHidden 1s
}

.checked-filed {
    background-color: red;
    color: white;
}

.ball {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 50%;
    position: relative;
    background: radial-gradient(circle at 20% 20%, #fff, #8b8bff 80%, #2f00ff 100%);
    overflow: hidden;
    animation: ballGrow 1.5s ease-out forwards;
    transform: scale(0.5);
}

.stage {
    width: 90px;
    height: 90px;
    display: inline-block;
    margin: 5px;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    -o-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
}

.number {
    position: absolute;
    width: 100%;
    text-align: center;
    line-height: 90px;
    font-size: 45px;
    color: red;
    font-family: 'Roboto', sans-serif;
    animation: ballRoll 4s forwards;
    animation-iteration-count: .5;
}

.tg td {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 13px;
    padding: 4px 3px;
    border-style: solid;
    overflow: hidden;
    word-break: normal;
    cursor: pointer;
    border: 2px solid red
}

.tg th {
    text-align: left;
    padding: 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid red;
    border: 2px solid red
}


.tg td:hover {
    background-color:rgba(167, 125, 167, 0.336);
}

.table-box {
    padding: 5px;
    display: inline-block;
    border: 1px solid red;
}

@keyframes numHidden {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes ballRoll {
    0%, 10%, 50% {
        opacity: 1;
        transform: translateY(0) rotateX(0);
    }
    10%, 35%, 75% {
        transform: translateY(100%) rotateX(170deg);
    }
    11%, 36%, 76% {
        transform: translateY(-100%) rotateX(-170deg);
        opacity: 0;
    }
}

@keyframes ballGrow {
    0% {
        transform: scale(0.3);
    }
    100% {
        transform: scale(1);
    }
}

.stage:nth-child(1) .ball, .stage:nth-child(1) .number {
    animation-delay: 0.1s;
}

.stage:nth-child(2) .ball, .stage:nth-child(2) .number {
    animation-delay: 0.2s;
}

.stage:nth-child(3) .ball, .stage:nth-child(3) .number {
    animation-delay: 0.3s;
}

.stage:nth-child(4) .ball, .stage:nth-child(4) .number {
    animation-delay: 0.4s;
}

.stage:nth-child(5) .ball, .stage:nth-child(5) .number {
    animation-delay: 0.5s;
}

.stage:nth-child(6) .ball, .stage:nth-child(6) .number {
    animation-delay: 0.6s;
}

.stage:nth-child(7) .ball, .stage:nth-child(7) .number {
    animation-delay: 0.7s;
}